.registerBox{
    width:320px;
    height:480px;
    margin:50px auto;
    min-height: 400px;
    padding: 0 23px;
    color: #333;
    background: rgba(255,255,255,.85);
    box-shadow: 0 0 4px rgba(0,0,0,.075);
    border: 1px solid #ededed;
    .registerTit{
        width:310px;
        height:60px;
        h2{
            font-weight:bolder;
            color: #b86f87;
            line-height:60px;
            font-size:20px;
        }
        
    }
    #phone{
        widows: 310px;
        height:350px;
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:space-around;
        .namebox{
            label{
                font-size:14px;
                color:#666;
            }
            #username{
                display: inline-block;
                width:302px;
                height:43px;
                margin-top:5px;
            }
        }
        .passwordbox{
            label{
                font-size:14px;
                color:#666;
            }
            #password{
                display: inline-block;
                width:302px;
                height:43px;
                margin-top:5px;
            }
        }
        #submitBtn{
            width:300px;
            height:40px;
            display: inline-block;
            font-family: inherit;
            word-break: keep-all;
            background: #F8296D;
            white-space: nowrap;
            text-align: center;
            line-height: 40px;
            font-weight: 700;
            font-size: 14px;
            cursor: pointer;
            padding: 0 30px;
            height: 40px;
            color: #fff;
            border: 0;
        }
    }
}